
@{
    ViewData["Title"] = "Información Institucional";
}
<h1>Información Institucional</h1>

<p>
    Anchor S.A. es una empresa familiar dedicada al comercio de indumentaria urbana.
    <br />
    El proyecto comenzó en 2018 con sede en Buenos Aires y hoy contamos con diferentes sucursales por la ciudad y la provincia.
</p>