@{
    ViewData["Title"] = "Declaración de privacidad";
}

<h1>Declaración de privacidad</h1>

<p>
    En Anchor S.A. nos tomamos la privacidad de nuestros clientes con la seriedad que esta merece.
    <br />
    Toda información que usted nos brinde, incluida su información personal y datos de acceso a nuestra página, son cifrados para su mayor seguridad.   
</p>
